#shopping-cart {
  width: 20rem;
  flex: none;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.product-image {
  height: 100px;
}

.cart_hline {
  border-top: #79b946 2px solid;
}

.product_hline {
  border-top: #f08426 2px solid;
}

.product-item {
  float: left;
  background: rgba(44, 62, 80, 0.17);
  margin: 15px 30px 15px 0px;
  border-radius: 5px;
  padding: 5px;
}
.product-item div {
  text-align: center;
  margin: 10px;
}
.product-price {
  color: #f08426;
}

.txt-heading {
  padding: 5px 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #999;
  width: 100px;
  border-top-left-radius: 2px;
  border-top-right-radius: 30px;
}

.btnAddAction {
  background-color: #79b946;
  border: 0;
  padding: 3px 10px;
  color: #fff;
  margin-left: 1px;
}

.cart-item {
  border-bottom: #79b946 1px dotted;
  padding: 10px;
}

.invoice-heading {
  padding: 5px 10px;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: rgba(95, 144, 80, 0.42);
  color: #4e4e4e;
}

.invoice-heading-right {
  float: right;
}

.invoice .progress {
  height: 7px;
  border-radius: 0px;
}

.invoice-amount {
  float: left;
  margin-bottom: 15px;
}

.invoice-status {
  float: right;
}

.invoice-address {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  margin-top: 20px;
  color: #4e4e4e;
  border-radius: 0px 0px 4px 4px;
  border: none;
  background: rgba(95, 144, 80, 0.42);
}

.invoice-table > tbody > tr > td {
  padding: 0px 0px 2px 15px;
  border: none;
  font-size: 0.9em;
}

@media (max-width: 979px) {
  .card-container {
    text-align: center;
  }

  .invoice {
    width: 100%;
  }
}
