input {
  text-align: center;
}

#shopping-cart {
  width: 20rem;
  flex: none;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.invoice {
  max-width: 1000px;
}

@media (max-width: 979px) {
  .card-container {
    text-align: center;
  }

  .invoice {
    width: 100%;
  }
}
