<div class="container invoice">
  <h4 class="title is-4">Order#: {{invoice.order_id}}</h4>
  <hr>

  <div class="columns">
    <div class="column">
      <h4 class="subtitle" ng-show="invoice.status == -1" >To pay, send exact amount of BTC to the given address</h4>
      <h4 class="subtitle has-text-danger" ng-show="invoice.status == -3"> Payment Expired</h4>
      <h4 class="subtitle has-text-danger" ng-show="invoice.status == -2"> Payment Error</h4>
      <h4 class="subtitle" ng-show="invoice.status == 0"> Unconfirmed</h4>
      <h4 class="subtitle" ng-show="invoice.status == 1"> Partially Confirmed</h4>
      <h4 class="subtitle has-text-success" ng-show="invoice.status >= 2" >Confirmed</h4>

      <p>Amount</p>
      <p><strong>{{invoice.bits/1.0e8}}</strong> BTC ⇌ <strong>{{invoice.value}}</strong> USD</p>

      <br/>

      <p>Bitcoin Address</p>

      <a href="bitcoin:{{invoice.addr}}?amount={{invoice.bits/1.0e8}}">
        <qrcode data="bitcoin:{{invoice.addr}}?amount={{invoice.bits/1.0e8}}" size="220">
          <canvas class="qrcode"></canvas>
        </qrcode>
      </a>

      <br/>
      <br/>

      <div class="field">
        <div class="control">
          <input type="text" class="input" ng-value="invoice.addr" readonly="readonly">
        </div>
      </div>
    </div>

    <div class="column">
      <h4 class="subtitle">Order Details: </h4>

      <table class="table">
        <tbody>
          <tr ng-repeat="item in invoice.cart">
            <td>{{item.name}}</td>
            <td>x {{item.quantity}}</td>
            <td>${{item.quantity*item.price}}</td>
          </tr>
          <tr>
            <td colspan="2" align=left><strong>Total:</strong></td>
            <td><strong>${{invoice.value}}</strong></td>
          </tr>
        </tbody>
      </table>

      <h2 class="subtitle" ng-hide="invoice.status == -1">Payment Details: </h2>
      <div ng-hide="invoice.status == -1" class="value ng-binding">
        Received : <strong>{{invoice.bits_payed/1.0e8}}</strong>
        <small>BTC</small> 
      </div>
      <div ng-show="invoice.status !=-1 " class="value ng-binding" style="margin-bottom:10px;" >
        Transaction : <a target="_blank" href="http://www.blockonomics.co/api/tx?txid={{invoice.txid}}&addr={{invoice.addr}}">{{invoice.txid |limitTo: 20}}</a>
      </div>
    </div>
  </div>

  <div class="columns" ng-hide="invoice.status != -1">
    <div class="column is-four-fifths">
      <progress class="progress is-link" value="{{progress}}" max="100">{{progress}}%</progress>
    </div>
    <div class="column is-one-fifth">
      Time Left: {{clock*1000 | date:'mm:ss' : 'UTC'}}
    </div>
  </div>
</div>
