<div class="columns">
  <div id="product-grid" class="column container">
    <h1 class="title">Products</h1>
    <hr>
    <div class="card-container">

      <div class="card" ng-repeat="item in itemList" ng-init="quantity=1">
        <header class="card-header">
          <p class="card-header-title">
            {{item.name}}
          </p>
        </header>

        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{item.image}}" alt="Placeholder image">
          </figure>
        </div>

        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <br>
            <br>
            <span class="has-text-info">${{item.price}}</span>
          </div>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" size="2" ng-model="quantity">
            </div>
            <div class="control">
              <a class="button is-info" ng-click="addItem(item.code, quantity)">
                <span class="icon is-small">
                  <i class="fa fa-cart-plus"></i>
                </span>
                &nbsp;
                Add to Cart
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopping-cart" class="column">
    <nav class="panel">
      <p class="panel-heading">
        <i class="fa fa-shopping-cart"></i>
        &nbsp;Cart
      </p>

      <p class="panel-block" ng-repeat="item in cart" ng-init="sum(item.price*item.quantity)">
        <span class="panel-icon">
          <i class="fa fa-plus"></i>
        </span>
        {{item.name}} - ${{item.price}} x {{item.quantity}}
      </p>

      <p class="panel-block">
        Total: ${{total}}
      </p>

      <div class="panel-block">
        <button type="button" ng-click="checkoutCart()" class="button is-link is-success is-outlined is-fullwidth">
          Checkout
        </button>
      </div>

      <div class="panel-block">
        <button type="button" ng-click="emptyCart()" class="button is-link is-danger is-outlined is-fullwidth">
          Empty Cart
        </button>
      </div>
    </nav>
  </div>
</div>
