<div id="shopping-cart">
<div class="txt-heading"> 
<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
</div>
<div class="cart_hline" />
<table class="table">
<tbody>
<tr ng-repeat="item in cart">
  <td>
    <strong>{{item.name}}</strong></td>
  <td>{{item.code}}</td>
  <td>${{item.price}} x {{item.quantity}}</td>
  <td ng-init="sum(item.price*item.quantity)" >${{item.price * item.quantity}}</td>
  <td>
    <button type="button" ng-click="removeItem(item.code)" class="btn btn-link btn-xs">
      <span class="glyphicon glyphicon-trash"> </span>
    </button>
  </td>

</tr>
<tr>
  <td colspan="3" align=left><strong>Total:</strong>
  <td><strong>${{total}}</strong>
  <td>
     <button type="button" ng-click="emptyCart()" style="border:none;" class="btn btn-danger btn-sm">Empty Cart</button>
   <button type="button" style="border:none;" class="btn btn-success btn-sm">Checkout</button>
</td>
</tr>
</tbody>
</table>		
</div>

<div id="product-grid">
	<div class="txt-heading">Products</div>
  <div class="product_hline" />
		<div class="product-item" ng-repeat="item in itemList">
      <form method="post" ng-submit="addItem(item.code, quantity)" ng-init="quantity=1">
        <div class="product-image"><img src="{{item.image}}"></div>
        <div><strong>{{item.name}}</strong></div>
        <div class="product-price">${{item.price}}</div>
			<div><input type="text" ng-model="quantity"  size="2" /><input type="submit" value="Add to cart" class="btnAddAction" /></div>
			</form>
		</div>
</div>
